*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: 'Glegoo', serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}


body {
  background-color: #F5EBE0;
  font-size: 75%;
  color: #AF6355;
}

h1 {
  font-size: 200%;
  color: #8D745B;
  background-color: rgba(219,198,178, 0.75);
  border-radius: 10px 10px 0 10px;
  line-height: 48px;
  display: inline;
  padding-right: 12px;
  font-family: 'Pacifico', cursive;
}

h2 {
  font-weight: bold;
  font-size: 175%;
  color: #628369;
  line-height: 29px;
}

h3 {
  font-size: 125%;
  font-weight: bold;
  color: #8BB399;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 100%;
  color: #6B271A;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

.date-text {
  font-style: italic;
  font-size: 75%;
  color: #8F7534;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 75%;
  color: #8F7534;
  line-height: 16px;
  float: right;

}

p {
  font-size: 100%;
  line-height: 20px;
}

a {
  color: #52737E;
  text-decoration: none;
  display: block;
  text-align: right;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-style: double;
  height: 4px;
  border-width: 4px 0 0 0;
  border-color: #BF791D;
  padding-bottom: 10px;
}

.alternate {
  background: #DBC6B2;
}

.welcome-message {
  font-size: 18px;
  background-color: rgba(191, 121, 29, 0.45);
  border-radius: 10px;
  border: 1px solid #BF791D;
  color: #FEBB67;
  line-height: 21px;
  text-align: center;
}

#skills-h3 {
  display: none;
  color: #3F7F55;
}

.footer-title {
  background-color: #FEBB67;
  color: #E29A40;
}

.footer {
  background-color: #DBC6B2;
}

.orange-text {
  color: #E29A40;
  font-weight: bold;
}

.white-text {
  color: #FFF7E6;
}

.skills-text {
  color: #FEBB67;
  background-color: rgba(191, 121, 29, 0.45);
  border-radius: 10px;
}

#header {
  background: url("../images/header.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

#role {
  color: #8D745B;
  background-color: rgba(219,198,178, 0.75);
  border-radius: 0 10px 10px 0;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 0;
  width: 200px;
  display: none;
}

img {
  padding: 0;
  border-radius: 10px;
  border: 1px solid #BF791D;
}

span {
  padding: 5px;
  color: #8D605B;
  font-size: 100%;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
  border: 2px solid #BF791D;
  border-radius: 10px;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
